In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'http://www.jonathanbech.tel/data-science-part-time-class'

In [4]:
req = requests.get(url)

In [5]:
req

In [7]:
scraper = BeautifulSoup(req.text)

In [8]:
divs = scraper.find_all('div')

In [11]:
paragraphs = scraper.find_all('p')

In [14]:
paragraphs[2]

In [15]:
buttons = scraper.find_all('button', {'class': 'btn', 'class': 'btn-link'})

In [17]:
buttons[1]

<button aria-controls="collapse1" aria-expanded="false" class="btn btn-link" data-target="#collapse1" data-toggle="collapse">
              Unit 1, - Class 2 -- Python Fundamentals
          </button>

In [18]:
classes = scraper.find_all('div', {'class': 'card-body'})

In [20]:
classes[1]

<div class="card-body">
            Class 2 will be the only class exclusively devoted to pure python programming.  We'll go over the most commonly used elements of the python syntax: conditional logic and for-loops.  Beginner students will have more straight-forward exercises to complete to make sure they understand basic fundamentals, and advanced students will have a chance to explore more complicated programming tasks that allow them to programatically interact with their operating system and lesser known looping techniques that are very useful for ML programming.
          </div>

In [21]:
url = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1'

req = requests.get(url)

In [22]:
yelp_scraper = BeautifulSoup(req.text)

In [23]:
titles = yelp_scraper('a', {'class': 'lemon--a__373c0__IEZFH', 'class': 'link__373c0__1G70M',
                                'class': 'link-color--inherit__373c0__3dzpk',
                                'class':  'link-size--inherit__373c0__1VFlE'})

In [28]:
titles[4]

<a class="lemon--a__373c0__IEZFH link__373c0__1G70M link-color--inherit__373c0__3dzpk link-size--inherit__373c0__1VFlE" href="/biz/flat-iron-london-2?osq=Restaurants" name="Flat Iron" rel="" target="">Flat Iron</a>

In [30]:
type(titles[0])

bs4.element.Tag

In [31]:
titles = [str(title) for title in titles]

In [33]:
type(titles[0])

str

In [34]:
titles[0]

'<a class="lemon--a__373c0__IEZFH link__373c0__1G70M link-color--inherit__373c0__3dzpk link-size--inherit__373c0__1VFlE" href="/biz/the-mayfair-chippy-london-2?osq=Restaurants" name="The Mayfair Chippy" rel="" target="">The Mayfair Chippy</a>'

In [35]:
titles = [title.replace('</a>', '') for title in titles]

In [39]:
titles = [title.split('>')[-1] for title in titles]

In [40]:
titles

['The Mayfair Chippy',
 'more',
 'Dishoom',
 'more',
 'Flat Iron',
 'more',
 'Restaurant Gordon Ramsay',
 'more',
 'Ffiona’s Restaurant',
 'more',
 'Mother Mash',
 'more',
 'The Queens Arms',
 'more',
 'Padella',
 'more',
 'The Grazing Goat',
 'more',
 'The Golden Chippy',
 'more',
 'BAO - Soho',
 'more',
 'Duck &amp; Waffle',
 'more',
 'Ye Olde Cheshire Cheese',
 'more',
 'Dishoom',
 'more',
 'The Pig and Butcher',
 'more',
 'Sketch',
 'more',
 'NOPI',
 'more',
 'The Churchill Arms',
 'more',
 'Abeno',
 'more',
 'The Victoria',
 'The Shed',
 'more',
 'Shoryu Ramen',
 'more',
 'Busaba Soho',
 'more',
 'The Colonel Fawcett',
 'more',
 'Gordon Ramsay Street Pizza',
 'more',
 'Burger &amp; Lobster',
 'more',
 'Hawksmoor Seven Dials',
 'more',
 'Savoir Faire',
 'more',
 'Yauatcha',
 'more',
 'London House by Gordon Ramsay',
 'more',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [46]:
titles = [title for title in titles if title != 'more']

In [50]:
titles = titles[:-8]

In [51]:
titles

['The Mayfair Chippy',
 'Dishoom',
 'Flat Iron',
 'Restaurant Gordon Ramsay',
 'Ffiona’s Restaurant',
 'Mother Mash',
 'The Queens Arms',
 'Padella',
 'The Grazing Goat',
 'The Golden Chippy',
 'BAO - Soho',
 'Duck &amp; Waffle',
 'Ye Olde Cheshire Cheese',
 'Dishoom',
 'The Pig and Butcher',
 'Sketch',
 'NOPI',
 'The Churchill Arms',
 'Abeno',
 'The Victoria',
 'The Shed',
 'Shoryu Ramen',
 'Busaba Soho',
 'The Colonel Fawcett',
 'Gordon Ramsay Street Pizza',
 'Burger &amp; Lobster',
 'Hawksmoor Seven Dials',
 'Savoir Faire',
 'Yauatcha',
 'London House by Gordon Ramsay']

In [52]:
num_reviews = yelp_scraper.find_all('span', {'class': 'lemon--span__373c0__3997G', 
                                        'class': 'text__373c0__2Kxyz',
                                        'class': 'reviewCount__373c0__2r4xT',
                                        'class': 'text-color--black-extra-light__373c0__2OyzO'})

In [56]:
num_reviews[2]

<span class="lemon--span__373c0__3997G text__373c0__2Kxyz text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-"><a class="lemon--a__373c0__IEZFH link__373c0__1G70M link-color--inherit__373c0__3dzpk link-size--default__373c0__7tls6" href="/search?cflt=fishnchips&amp;find_desc=Restaurants&amp;find_loc=London%2C+United+Kingdom" name="" rel="" role="link" target="">Fish &amp; Chips</a></span>

In [57]:
num_reviews = [str(review) for review in num_reviews]

In [59]:
num_reviews[0]

'<span class="lemon--span__373c0__3997G text__373c0__2Kxyz reviewCount__373c0__2r4xT text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-">277</span>'

In [60]:
num_reviews = [review.replace('</span>', '') for review in num_reviews]

In [61]:
num_reviews[0]

'<span class="lemon--span__373c0__3997G text__373c0__2Kxyz reviewCount__373c0__2r4xT text-color--black-extra-light__373c0__2OyzO text-align--left__373c0__2XGa-">277'

In [62]:
num_reviews = [review.split('>')[-1] for review in num_reviews]

In [67]:
num_reviews[4]

'££'

In [68]:
num = '1842'

In [69]:
num.isdigit()

True

In [70]:
num_reviews = [int(review) for review in num_reviews if review.isdigit()]

In [71]:
num_reviews

[277,
 1842,
 378,
 204,
 270,
 468,
 119,
 202,
 239,
 108,
 183,
 701,
 353,
 544,
 109,
 830,
 271,
 358,
 101,
 212,
 78,
 375,
 381,
 26,
 30,
 292,
 342,
 194,
 482,
 22]

In [74]:
import pandas as pd

web_dict = {
    'Name': titles,
    'NumReviews': num_reviews
}

restaurant_df = pd.DataFrame(web_dict)

In [75]:
restaurant_df

                             Name  NumReviews
0              The Mayfair Chippy         277
1                         Dishoom        1842
2                       Flat Iron         378
3        Restaurant Gordon Ramsay         204
4             Ffiona’s Restaurant         270
5                     Mother Mash         468
6                 The Queens Arms         119
7                         Padella         202
8                The Grazing Goat         239
9               The Golden Chippy         108
10                     BAO - Soho         183
11              Duck &amp; Waffle         701
12        Ye Olde Cheshire Cheese         353
13                        Dishoom         544
14            The Pig and Butcher         109
15                         Sketch         830
16                           NOPI         271
17             The Churchill Arms         358
18                          Abeno         101
19                   The Victoria         212
20                       The Shed          78
21                   Shoryu Ramen         375
22                    Busaba Soho         381
23            The Colonel Fawcett          26
24     Gordon Ramsay Street Pizza          30
25           Burger &amp; Lobster         292
26          Hawksmoor Seven Dials         342
27                   Savoir Faire         194
28                       Yauatcha         482
29  London House by Gordon Ramsay          22